__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
*/non-production*
*.ipynb
*.md
charts
databases
.github
.circlci
tests
test_ui
.gitignore
.pre-commit-config.yaml
docker-compose.yaml