<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>218935800018-087dhen0socrpqlgeul1shis6s9drmrv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.218935800018-087dhen0socrpqlgeul1shis6s9drmrv</string>
	<key>API_KEY</key>
	<string>AIzaSyDIE6Rk-shZl6Ntia71mK1B1nSQouDN_AQ</string>
	<key>GCM_SENDER_ID</key>
	<string>218935800018</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.reece.us.physicalinventory</string>
	<key>PROJECT_ID</key>
	<string>branchinventoryapplication</string>
	<key>STORAGE_BUCKET</key>
	<string>branchinventoryapplication.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:218935800018:ios:f51461c4d95eeaae667d0b</string>
</dict>
</plist>