<!DOCTYPE html>
<html>
    <h2>YOUR ACCOUNT IS NOW ACTIVE</h2>
    <p>{{firstName}},</p>
    <p>
        Reece Online Solution's benefits, including:<br/>
        Your account is now active. You will now be able to access<br/>
    </p>
    <ul>
        <li>Review Invoices and Proof of Purchases</li>
        <li>Personalized lists and favorites</li>
        <li>Customized account information</li>
        <li>Tracking orders & history</li>
    </ul>
    <p>
        As always, if you have any questions, <a href="mailto:{{branchInfo.supportEmail}}">contact</a> your local team.
    </p>
    <p>- The Reece Team -<p/>
    <button>
        <a href="https://app.ecomm.reecedev.us">VIEW YOUR ACCOUNT</a>
    </button>
</html>
