<!DOCTYPE html>
<html>
<h2>YOUR ORDER HAS BEEN RECEIVED</h2>
<p>{{name}},</p>
<p>
    Thank you for placing an order with us!  The following order has been received and is being processed.
</p>
<br/>
<br/>
<br/>
<h3>SUMMARY:</h3>
    <h4>Order number: {{orderNumber}}</h4>
    <h4>PO Number: {{poNumber}}</h4>
    <h4>Order date: {{orderDate}}</h4>
    <h4>Subtotal: {{subTotal}}</h4>
    <h4>Tax: {{tax}}</h4>
    <h4>Total: {{total}}</h4>
    <br/>
    <br/>

<h3>SHIPPING METHOD AND INFORMATION:</h3>
    <h4>Shipping method: {{shippingMethod}}</h4>
    <h4>Address:</h4>
        <p>{{address.branchName}}</p>
        <p>{{address.streetLineOne}}</p>
        <p>{{address.streetLineTwo}}</p>
        <p>{{address.streetLineThree}}</p>
        <p>{{address.city}}, {{address.state}}</p>
        <p>{{address.postalCode}}</p>
        <p>{{address.country}}</p>
        <br/>
        <br/>

<h3>PRODUCTS:</h3>
    {{#productDTOs}}
        <h4>Product: {{productDescription}}</h4>
        <h4>Quantity: {{quantity}}</h4>
        <h4>Price per unit: {{unitPrice}}</h4>
        <br/>
        <br/>
    {{/productDTOs}}
<br/>

<h3>BRANCH CONTACT INFORMATION:</h3>
<h4>Address:</h4>
    <p>{{branchDTO.branchName}}</p>
    <p>{{branchDTO.streetLineOne}}</p>
    <p>{{branchDTO.streetLineTwo}}</p>
    <p>{{branchDTO.streetLineThree}}</p>
    <p>{{branchDTO.city}}, {{branchDTO.state}}</p>
    <p>{{branchDTO.postalCode}}</p>
    <p>{{branchDTO.country}}</p>
    <br/>
    <br/>
<p>
    As always, if you have any questions, <a href="mailto:{{email}}">contact</a> your local team.
</p>
<p>- The Reece Team -</p>
</html>
