<!DOCTYPE html>
<html>
    <p>Hello {{firstName}},</p>
    <p>
        You have not been approved to access the Reece E-Commerce site due to the following reason:<br/>
        <b>{{rejectionReason}}</b>
    </p>
    <p>
        Please <a href="mailto:{{branchInfo.supportEmail}}">contact</a> your branch for further inquiry.
    </p>
    <p>- The Reece Team -<p/>
</html>
