@use 'src/_reece.scss';

.custPartNumber {
  &__containerForPLP {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-weight: 400;
    font-size: 0.8rem;
    color: reece.$dark-text-gray-100;
  }
  &__containerForMyLists {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    font-size: 12.8px;
    margin-right: 39%;
    color: reece.$dark-text-gray-80;
  }
  &__containerForPPP {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-weight: 400;
    font-size: 12.8px;
    margin-right: 15%;
    color: reece.$dark-text-gray-80;
  }
  &__containerForPDP {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    font-size: 1.25rem;
    padding-top: 5px;
    margin-left: 24px;
    color: reece.$dark-text-gray-80;
    width: max-content;
  }
  &__myPartLabelForMyLists {
    margin-top: 0;
  }
  &__myPartLabelForPDP {
    margin-top: 0;
  }
  &__viewAllBtnForMyLists {
    font-weight: 400;
  }
  &__viewAllBtnForPDP {
    font-weight: 400;
    font-size: 1.25rem;
  }
  &__viewAllBtnForPLP {
    flex-basis: 50%;
    font-weight: 400;
  }
  &__viewAllBtnForPPP {
    font-weight: 400;
  }
  &__hiddenItemsForMyLists {
    font-weight: 400;
    font-size: 12.8px;
    color: reece.$dark-text-gray-80;
    width: 50%;
  }
  &__hiddenItemsForPDP {
    font-weight: 400;
    font-size: 1.25rem;
    color: reece.$dark-text-gray-80;
    width: 50%;
    margin-left: 24px;
  }
}

@media (max-width: reece.$breakpoint-md) {
  .custPartNumber {
    &__containerForMyLists {
      width: 120%;
      margin-right: 0;
    }
    &__containerForPDP {
      width: 105%;
      margin-left: 0%;
      line-height: 1.5rem;
      padding-top: 0%;
    }
    &__containerForPPP {
      width: 110%;
      margin-right: 0;
    }
    &__myPartLabelForMyLists {
      font-size: 0.7rem;
    }
    &__myPartLabelForPDP {
      font-size: 1.25rem;
    }
    &__myPartLabelForPPP {
      width: max-content;
    }
    &__viewAllBtnForPLP {
      flex-basis: 0%;
      font-weight: 400;
    }
    &__viewAllBtnForPPP {
      flex-basis: 50%;
      padding: 0%;
      font-weight: 400;
    }
    &__hiddenItemsForMyLists {
      font-size: 0.7rem;
    }
    &__hiddenItemsForPDP {
      margin-left: 0%;
    }
  }
}
