@use 'src/_reece.scss';

.featured-search {
  &__loadingcontainer {
    display: flex;
    justify-content: center;
    padding: 8px;
  }
  &__container {
    padding: 8px 16px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: calc(100% + 48px);
    margin-left: -16px;
    margin-top: 0;
    box-sizing: border-box;
  }
  &__title {
    font-size: 1.25rem;
    line-height: 1.5rem;
    letter-spacing: 0.0075em;
    font-weight: 700;
    color: reece.$dark-text-gray-100;
  }
  &__item {
    padding: 0 8px;
    -webkit-flex-basis: 20%;
    flex-basis: 20%;
    max-width: 20%;
    &_imagecontainer {
      height: 100px;
      display: flex;
      justify-content: center;
    }
    &_textcontainer {
      text-align: center;
    }
    &_textcontainersinglelinepadding{
      padding-top: .75rem;
      text-align: center;
    }
    & img {
      object-fit: contain;
    }
  }
}

.search-results {
  &__cmp-container {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    padding-right: 16px;
  }
  &__cmp-text-content {
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.0075em;
    color: reece.$dark-blue-100;
  }
  &__cmp-signin-link-text {
    font-style: normal;
    font-weight: 500;
    font-size: 12.8px;
    line-height: 16px;
    color: reece.$light-blue-100;
    text-decoration: underline;
  }
  &__cmp-signin-info-text {
    font-style: normal;
    font-weight: 400;
    font-size: 12.8px;
    line-height: 16px;
    color: reece.$dark-blue-100;
    margin-top: 0;
  }
}

@media (max-width: reece.$breakpoint-md) {
  .featured-search {
    &__item {
      -webkit-flex-basis: 120%;
      flex-basis: 120%;
      max-width: 120%;
    }
  }
  .search-results {
    &__cmp-container {
      display: flex;
      flex-direction: column;
      padding-left: 0;
    }
  }
}
