h1,
h2,
h3 {
  text-transform: uppercase;
}

.runtime_appointmentbookingFlowLocation .uiInputTextForAutocomplete {
  height: 2.7em;
  box-shadow: none;
  border: 1px solid #ccc;
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
  transition: box-shadow 0.45s, border-color 0.45s;
  border-radius: 0.3rem;
}

.slds-scope .slds-visual-picker_vertical .slds-visual-picker__figure {
  height: auto !important;
}

@media (max-width: 1000px) {
  .forceAddressAutocomplete .googleLogo {
    background-position: right !important;
  }
}
