@use 'src/_reece.scss';

.news {
  font-family: Roboto;
  display: flex;
  flex-direction: column;
  background-color: reece.$white-100;
  height: 100%;

  &__container.container {
    height: 100%;
    width: 100%;
    margin-left: auto;
    box-sizing: border-box;
    margin-right: auto;
    display: block;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-bottom: 2.5rem;
    margin-top: 1rem;
    max-width: reece.$breakpoint-lg;
  }

  &__title-container {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    flex-direction: row;

    &__title-item {
      flex-basis: 50%;
      flex-grow: 0;
      max-width: 50%;
      align-self: flex-start;
    }
    &__social-item {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-top: 1.5rem;
      flex-basis: 50%;
      flex-grow: 0;
      max-width: 50%;
    }
  }

  &__title {
    display: flex;
    font-size: 3.125rem;
    font-weight: 500;
    line-height: 3.5rem;
    margin-top: 3;
    margin-bottom: 3;
    padding-bottom: 3;
    text-align: left;
    align-self: center;
    color: reece.$dark-blue-100;
  }

  &__list-container {
    box-sizing: border-box;
    display: grid;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
    padding-bottom: 3.5rem;
    padding-top: 1rem;
    gap: 2%;
    grid-row-gap: 3rem;
    grid-template-columns: 50% 50%;

    &__news-item {
      width: 96%;
      height: 456px;
      background-color: reece.$light-gray-100;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-between;

      &__news-box {
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 0.625rem;

        &__title {
          letter-spacing: 0.005em;
          font-size: 2rem;
          color: reece.$dark-blue-100;
          font-weight: 500;
          line-height: 2.5rem;
          padding-top: 1rem;
        }

        &__date-time {
          letter-spacing: 0.005em;
          font-weight: 400;
          font-size: 1rem;
          padding-top: 0.3rem;
          line-height: 3.125rem;
          color: reece.$text-gray-50;
        }

        &__brief-text {
          letter-spacing: 0.005em;
          font-weight: 400;
          font-size: 1.187rem;
          padding-top: 0.3rem;
          line-height: 2.343rem;
          color: reece.$dark-blue-100;
        }
      }

      &__learn-more-box {
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 2rem;

        &__text {
          letter-spacing: 0.005em;
          font-weight: 500;
          font-size: 1.375rem;
          padding-bottom: 0.25rem;
          line-height: 2.687rem;
          color: reece.$dark-blue-100;
        }
      }
    }
  }

  &__pagination {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 1rem;
  }

  &__social {
    box-sizing: border-box;
    display: flex;
    text-align: center;
    margin-right: 1.5rem;
    justify-content: left;

    &__item {
      margin-bottom: 2rem;
      &__image {
        transform: scale(0.8, 0.8);
      }
    }
  }

  &__need-assistance {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
    background-color: reece.$dark-blue-100;
    &__image {
      align-items: flex-end;
      flex-basis: 58.333333%;
      flex-grow: 0;
      max-width: 58.333333%;
      display: block;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      min-height: 33rem;
      min-width: 46.5625rem;
      margin-top: 4.375rem;
    }

    &__tile {
      box-sizing: border-box;
      flex-direction: row;
      align-items: flex-end;
      color: reece.$white-100;
      text-align: center;
      flex-basis: 41.666667%;
      max-width: 41.666667%;
      &__icon {
        justify-content: center;
      }
      &__support-button {
        display: flex;
        justify-content: center;
        padding-bottom: 3.125rem;
      }
    }
  }
}

@media (max-width: reece.$breakpoint-md) {
  .news {
    &__container.container {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    &__list-container {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      flex-direction: row;
      padding-bottom: 0rem;
      padding-top: 0rem;
      margin-bottom: 3rem !important;

      &__news-item {
        width: 100%;
        height: 650px;
        display: flex;
      }
    }

    &__need-assistance {
      &__image {
        flex-basis: 100%;
        max-width: 100%;
        flex-direction: column;
        min-height: 3.5rem;
        min-width: 9rem;
        margin-top: 0rem;
      }

      &__tile {
        flex-basis: 100%;
        max-width: 100%;
      }
    }
  }
}
