@use 'src/_reece.scss';

.radio-input {
  font-family: Roboto;

  &__wrapper {
    color: reece.$dark-text-gray-100;
    font-size: 1rem;
    line-height: 1.5rem;
    position: relative;
  }
  &__label {
    display: block;
    margin-bottom: 0.5rem;
    width: max-content;
  }
  &__required-star {
    color: reece.$orangy-red-100;
  }
  &__options {
    display: flex;
  }
  &__option {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-right: 1rem;
    font-size: 1rem;
    line-height: 1.5;
    &__icon-wrapper {
      height: 1.75rem;
      width: 1.75rem;
      margin-right: 1rem;
      border-radius: 1.75rem;
      display: flex;
      align-items: center;
      justify-content: center;
      pointer-events: none;
    }

    &:active {
      .radio-input__option__icon-wrapper {
        background-color: rgba(0, 121, 217, 0.2);
      }
    }
    &:hover {
      .radio-input__option__icon:not(.disabled) {
        path {
          fill: reece.$light-blue-100;
          fill-opacity: 1;
        }
      }
    }
  }
  &__message-wrapper {
    padding: 0.25rem 1rem 0;
    font-size: 0.8rem;
    line-height: 1rem;
  }
  &.error {
    .radio-input__message-wrapper {
      color: reece.$orangy-red-100;
    }
  }
}
