@use 'src/_reece.scss';

// default (usually mobile)
.lists-line-item {
  &__container {
    position: relative;
    margin: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100%;
    height: 99%;
    flex-wrap: wrap;
    align-items: center;
  }
  &__loader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  &__product {
    &--details-block {
      padding: 0 16px;
      width: 100%;
    }
    &--image-subcontainer {
      padding: 0;
      max-width: 80px;
      min-height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      & a {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    &--details-container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      align-content: flex-start;
    }
    &--mfr-name {
      color: reece.$dark-text-gray-80;
      font-size: 0.7rem;
      line-height: 0.9rem;
      text-transform: uppercase;
      & .MuiSkeleton-root {
        width: 100%;
      }
    }
    &--item-name {
      margin: 8px 0;
      color: reece.$dark-blue-100;
      font-size: 1rem;
      line-height: 1.2rem;
      letter-spacing: 0.005em;
      & .MuiSkeleton-root {
        width: 100%;
        height: 100%;
        margin-bottom: 4px;
      }
    }
    &--mfr-msc {
      color: reece.$dark-text-gray-80;
      font-size: 0.7rem;
      line-height: 0.9rem;
      text-transform: uppercase;
      padding-right: 8px;
      display: block;
      & .MuiSkeleton-root {
        width: 100%;
      }
    }
    &--branch-available {
      &--container {
        padding: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
      }
      &--available-chip-box {
        overflow: hidden;
        text-align: center;
        font-size: 0.7rem;
      }
      &--location-box {
        margin-left: 8px;
        .MuiButton-startIcon {
          width: 12px;
        }
        & button {
          font-weight: 700;
          font-size: 0.7rem;
        }
      }
    }
    &--mobile-price-per-unit {
      font-weight: 500;
      font-size: 1rem;
      line-height: 1rem;
      letter-spacing: 0.005em;
      color: reece.$dark-blue-100;
      padding: 8px 16px;
    }
  }
  &__reoder-handle-container {
    display: none;
  }
  &__image-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
  }
  &__hidden-print-block {
    display: none;
  }
  &__mobile-delete-box {
    position: absolute;
    top: 0;
    right: 0;
  }
}
// Desktop
@media (min-width: reece.$breakpoint-md) {
  .lists-line-item {
    &__container {
      flex-wrap: nowrap;
    }
    &__product {
      &--image-subcontainer {
        width: 100px;
        height: 100px;
        & a {
          width: 100%;
          height: 100%;
        }
      }
      &--details-container {
        align-content: initial;
      }
      &--mfr-name {
        font-size: 0.8rem;
        line-height: 1.0125rem;
        & .MuiSkeleton-root {
          width: 100px;
        }
      }
      &--item-name {
        font-size: 1rem;
        line-height: 1.5rem;
        letter-spacing: 0.005em;
        margin: 0 0;
        & .MuiSkeleton-root {
          width: 400px;
        }
      }
      &--mfr-msc {
        font-size: 0.8rem;
        line-height: 1.0125rem;
        padding-right: 32px;
        display: initial;
        & .MuiSkeleton-root {
          width: 100px;
        }
      }
      &--branch-available {
        &--container {
          padding: 8px 16px;
          width: 100%;
          font-size: 0.8rem;
        }
        &--available-chip-box {
          overflow: hidden;
          text-align: center;
          font-size: 0.8rem;
        }
        &--location-box {
          margin-left: 18px;
          .MuiButton-startIcon {
            width: 16px;
          }
          & button {
            font-size: 0.8rem;
          }
        }
      }
    }
    &__image-container {
      align-items: center;
    }
    &__reoder-handle-container {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 16px 0 8px;
    }
  }
}

// Print
@media print {
  .lists-line-item {
    &__hidden-print-block {
      display: block;
    }
    &__product {
      &--branch-available {
        &--container {
          display: none;
        }
      }
    }
  }
}
